<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Paytm Payment</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <div class="row my-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-body">
            <form class="" action="/paynow" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="name" value="" required placeholder="Enter your Name">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="email" value="" required placeholder="Enter your Email">
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="phone" value="" required placeholder="Enter your mobile number">
              </div>
                <div class="form-group">
                <input class="form-control" type="number" name="amount" value="" required placeholder="Amount">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="message" value="" placeholder="Message">
              </div>
              <div class="form-group">
                <button class="btn form-control btn-primary">Proceed to Pay</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>